<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="h.ghg.dstdsg.smartinskolning" >

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".Activity_Login"
            android:label="@string/app_name"
            android:theme="@style/MyTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Welcome"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name=".Activity_Contacts"
            android:label="@string/title_activity_activity__contacts" >
        </activity>
        <activity
            android:name=".Activity_Schedule"
            android:label="@string/title_activity_activity__schedule" >
        </activity>
        <activity
            android:name=".Activity_Equipment"
            android:label="@string/title_activity_activity__equipment" >
        </activity>
        <activity
            android:name=".Activity_Here_We_Are"
            android:label="@string/title_activity_activity__here__we_are" >
        </activity>
        <activity
            android:name=".Activity_About_Child_1"
            android:label="@string/title_activity_activity__about__child" >
        </activity>
        <activity
            android:name=".Activity_Routine"
            android:label="@string/title_activity_activity__routine" >
        </activity>
        <activity
            android:name=".Activity_Evaluation"
            android:label="@string/title_activity_activity__evaluation" >
        </activity>
    </application>

</manifest>
